/* ===== LANGUAGE SELECTOR ===== */
.language-selector {
  display: flex;
  gap: 5px;
}

.header .language-selector {
  margin-left: auto;
}

.lang-btn {
  padding: 6px 12px;
  border: none;
  /* background-color: #ece801; */
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;

  border-radius: 4px;
  color: white;
}

/* .lang-btn:hover {
  background-color: rgb(147, 36, 36);
} */

.lang-btn.active {
  background-color: #ece801;
  color: white;
}
