/* ================= MOBILE ======================== */

@media (max-width: 480px) {
  /* ===== LAYOUT ===== */

  .container {
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    align-items: stretch;
    margin: 0;
  }

  /* ===== SIDEBARS ===== */

  .sidebar-left {
    display: none;
  }

  .sidebar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }

  /* ===== BUTTONS ===== */

  .button-start,
  .button-reset,
  .timer {
    margin: 5px 0;
    height: 45px;
    width: 100px;
    font-size: 12px;
  }

  /* ===== LANGUAGE ===== */

  .language-selector {
    display: flex;
    flex-direction: column;
  }

  .lang-btn {
    font-size: 10px;
  }

  /* ===== TIMER ===== */

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  /* ===== GRID FIX (IMPORTANT) ===== */

  .game-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    width: 95%;
    margin: 0 auto;
  }

  /* ===== CARDS ===== */

  .game-cards img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .cards-section {
    padding: 40px 0;
  }

  /* ===== TEXT ===== */

  .match-green,
  .no-match-red {
    font-size: 30px;
    text-align: center;
  }

  .footer-text {
    font-size: 14px;
    padding: 5px;
  }
}

/* ================= TABLET ======================== */

@media (max-width: 1080px) {
  /* ===== HEADER ===== */

  h1 {
    font-size: 28px;
  }

  .header {
    min-height: 60px;
  }

  /* ===== LAYOUT ===== */

  .container {
    flex-direction: column;
    background-size: min(70vw, 300px);
  }

  /* ===== SIDEBARS ===== */

  .sidebar-left {
    display: none;
  }

  .sidebar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }

  /* ===== BUTTONS ===== */

  .button-start,
  .button-reset {
    margin: 5px 0;
    height: 50px;
    width: 120px;
    font-size: 14px;
  }

  /* ===== TIMER ===== */

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  /* ===== GRID FIX ===== */

  .game-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
  }

  /* ===== CARDS ===== */

  .game-cards img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

/* ================= GLOBAL TEXT =================== */

.match-green,
.no-match-red {
  font-size: 70px;

  text-align: center;
}
